.Text_DisplayStyle {
    flex-grow: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    }

#Output {
    color: rgb(255, 0, 0);
    margin: auto;
    margin-left: 0px;
}

#Title {
    color: rgb(255, 255, 255);
    margin: auto;
    margin-right: 0px;
}
